[mysqld]
user=mysql
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
character-set-server={{ mysql_charset }}
collation-server={{ mysql_collation }}
innodb_log_file_size={{ mysql_innodb_log_file_size }}
max_allowed_packet={{ mysql_max_allowed_packet }}

# disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
sql_mode=""

[client]
user={{ mysql_root }}
password={{ mysql_root_password }}
default-character-set={{ mysql_client_charset }}
